@media (max-width: 768px) {
  .teacher_pic {
    width: 100px !important;
  }

  .workplace_icons {
    width: 100px !important;
    vertical-align: middle !important;
  }
  
  .workplace_icons_horizontal {
    width: 180px !important;
    vertical-align: middle !important;
  }
  
}

.teacher_pic {
  width: 150px;
}

.workplace_icons {
  width: 10%;
  vertical-align: middle;
}

.workplace_icons_horizontal {
  width: 20%;
  vertical-align: middle;
}
