.row {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.box_icon {
  width: 18px;
  height: 18px;
  margin-right: 5px;
  vertical-align: middle;
}

.description_title {
  text-decoration: underline;
}
